* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #000; 
  padding: 20px;
  color: white;
}

.dashboard {
  display: flex;
  gap: 20px;
}

.card-glass {
  background: #111;
  border-radius: 20px;
  padding: 20px;
}

h2 {
  margin-bottom: 15px;
  color: #f5a623;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
}

button {
  background: #f5a623;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #ffcc66;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.full-width {
  grid-column: span 2;
}

.cart-items {
  margin: 15px 0;
  background: #222;
  padding: 10px;
  border-radius: 10px;
}
